<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Reviews</title>
  <meta name="description" content="Book reviews, write reviews of your favorite books '">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i" rel="stylesheet">
</head>

<body>
  <!--
      Start of header markup for layouts/application.html.erb
      This goes before <%= yield %>
    -->

  <!--
          End of header markup
        -->

  <!--
          Start of home/index.html.erb view content
        -->
  <main>

  </main>
  <!--
      End of home/index.html.erb view content
    -->

  <!--
      Start of footer markup for layouts/application.html.erb
      This goes after <%= yield %>
    -->

</body>

</html>