<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h1>My re-views</h1>
      </div>
    </div>
    
    <div class="row">
      <% @reviews.each do |review| %>
      
        <div class="col s4">
          <%= render(partial: 'editable_review_card', locals:{review: review} )%>
        </div>
      <% end %>
    </div>
  </div>
</main>