<main>
<div class="container">
<h1>Book re-views</h1>
<p> allow a visitor to search for a book, to see reviews of a book written by others and to login. After a login with email the visitor becomes a user who can create book reviews, write additional reviews regarding the book, search for a book, delete a book, add the book to bookmarks, delete the bookmark.  I used Materialize CSS instead of bootstrap.</p>
<p>Author: Jola Matujewicz</p>
</div>
</main>
