<main>
  <div class="container">
    <h1 > Edit re-view <i class="material-icons prefix small">edit</i></h1>
    <div class="row">
      <%= render(partial: 'form', locals:{ review: @review})%>
  </div>
</main>