<main>
  <div class="container">
    <h1 > Re-view a book <i class="material-icons prefix small">border_color</i></h1>
    <div class="row">
      <%= render(partial: 'form', locals:{review: @review})%>
  </div>
</main>